body {
    margin: 0;
    padding: 0;
}

.parte-superior {
    background-color: #202124;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.boton-superior {
    color: white;
    margin: 1em;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.appg {
    width: 18px;
    height: 24px;
    margin: 1em;
    filter: invert(97%) sepia(1%) saturate(8%) hue-rotate(61deg) brightness(111%) contrast(100%); 
}

.imagen-perfil {
    border-radius: 50px;
    width: 2%;
    padding: 10px;
}

.central {
    background-color: #202124;
    height: 78%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.contenedor-imagen {
    display: flex;
    justify-content: center;
    padding-top: 115px;
}

.imagenes-google1 {
    width: 272px;
    height: 92px; 
    margin-bottom: 30px;
}

.barra-busqueda {
    display: flex;
    align-items: center;
    border:1px solid #5f6368;
    border-radius: 25px;
    width: 574px;
    height: 46px;
    justify-content: center;
}

.imagen-lupa {
    width: 20px;
    height: 20px;
    padding: 8px;
}

.blanco {
    width: 445px;
    height: 40px;
}

.imagenes-google {
    width: 24px;
    height: 24px;
    padding: 8px;
}

.botones {
    padding: 18px;
    background: none;
}

.boton-busqueda {
    color: white;
    background-color: #303134;
    border: #303134;
    border-radius: 4px;
    height: 34px;
    font-family: Arial, sans-serif;
    padding: 0 16px;
    margin: 11px 4px;
}

.parte-inferior {
    display: flex;
    flex-direction: column;
    background: #171717;
    color: white;
    height: 12%;
}

.ubicacion {
    border-bottom: 1px solid #313335;
    display: flex;
    align-items: center;
    height: 50%;
}

.boton-inferior-pais {
    height: 15px;
    width: 25px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding-left: 30px;
    margin-top: 8px;
}

.informacion {
    display: flex;
    height: 50%;
    align-items: center;
}

.info-grupo {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: normal;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.info-grupo .boton-inferior:first-child {
    padding-left: 30px;
    padding-right: 15px;
}


.info-grupo-dos .boton-inferior:last-child {
    padding-right: 30px;
    padding-left: 15px;
}

.info-grupo-dos {
    display: flex;
    padding: 1px;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.boton-inferior {
    padding: 0 10px;
    padding-right: 15px;
}