body {
  background-color: #fdcdea;
}

.ctn-banner {
  display: flex; 
  justify-content: center; 
  position: relative;
}

.smbanner {
  width: 2000px;
  height: 400px;
}

.buttons{
  position: absolute;
  bottom: 0px;
  display: flex;
}


.btn-Index:hover {
  background-color: #a9e0f7;
  border: 2px solid #599ebb;
}

.btn-Characters:hover {
  background-color: #fd8585;
  border: 2px solid #3c3a3a;
}

.btn-Seasons:hover { 
  background-color: pink;
  border: 2px solid #4e45ef;
}

.btn-Curiosities:hover {
  background-color: #83ef83d9;
  border: 2px solid #9e4c4c;
}

.btn-Wallpapers:hover{
  background-color: #e3e368;
  border: 2px solid #ef8800db;
}
