body {
  background-color: #fdcdea;
}

.ctn-banner {
  display: flex; 
  justify-content: center; 
}

.smbanner {
  width: 2000px;
  height: 400px;
}

.butonns{
  display: flex;
  justify-content: space-evenly;
}

.btn-Index{
  background-color: #a9e0f7;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #599ebb;
}

.btn-Characters{
  background-color: #fd8585;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #c94d4d;
}

.btn-Seasons{
  background-color: pink;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #ff728b;
}

.btn-Curiosities{
  background-color: #83ef83d9;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #25ad25;
}

.btn-Wallpapers{
  background-color: #e3e368;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid yellow;
}

